#planes-portabilidad
  h2 Planes Recomendados
  .container
    .box_planes(id="js-p-slider").owl-carousel.owl-theme
      .items_planes
        .portabilidad_plan
          .headerPLan
            span.title Ilimitados
            span.subtitle Datos Libres
            span.hiddenMobile Comparte 32GB
            img.hiddenMobile.imgArrow(src=url+"/documents/80379/8777288/arrow_plomo.png/", alt="", srcset="")
          .bodyPlan_container
            .bodyPlan
              .wrapper_apps
                span #[b 9 Apps] 
                span Ilimitadas
                .icons_apps
                  img(src=url+"/documents/80379/8777288/icons_1.png/", alt="Facebook")
                  img(src=url+"/documents/80379/8777288/icons_2.png/", alt="Whatsapp")
                  img(src=url+"/documents/80379/8777288/icons_3.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_4.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_5.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_6.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_7.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_8.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_9.png/", alt="")
              .wrapper_description
                span #[b Ilimitadas] #[br]
                span Llamadas y SMS
              .wrapper_description
                span #[b Megas internacionales] #[br]
                span 12 GB Libres + #[br] Whatsapp ilimitado internacional
              .wrapper_description
                span #[b Chip] #[br]
                span S/1
              .wrapper_price
                .box_price
                  span S/199.90
                  span #[b al mes]
                a.btn_tarifas(href=url+"/documents/80379/9117957/PlanesPostpagoElige199Ilimitado.pdf/" target="_blank") Ver Tarifas
                .btn_loquiero
                  a(href="#") Lo quiero

      .items_planes
        .portabilidad_plan
          .headerPLan
            span.title Ilimitados
            span.subtitle Datos Libres
            span.hiddenMobile Comparte 32GB
            img.hiddenMobile.imgArrow(src=url+"/documents/80379/8777288/arrow_plomo.png/", alt="", srcset="")
          .bodyPlan_container
            .bodyPlan
              .wrapper_apps
                span #[b 9 Apps] 
                span Ilimitadas
                .icons_apps
                  img(src=url+"/documents/80379/8777288/icons_1.png/", alt="Facebook")
                  img(src=url+"/documents/80379/8777288/icons_2.png/", alt="Whatsapp")
                  img(src=url+"/documents/80379/8777288/icons_3.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_4.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_5.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_6.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_7.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_8.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_9.png/", alt="")
              .wrapper_description
                span #[b Ilimitadas] #[br]
                span Llamadas y SMS
              .wrapper_description
                span #[b Megas internacionales] #[br]
                span 12 GB Libres + #[br] Whatsapp ilimitado internacional
              .wrapper_description
                span #[b Chip] #[br]
                span S/1
              .wrapper_price
                .box_price
                  span S/149.90
                  span #[b al mes]
                a.btn_tarifas(href=url+"/documents/80379/9117957/PlanesPostpagoElige149Ilimitado.pdf/" target="_blank") Ver Tarifas
                .btn_loquiero
                  a(href="#") Lo quiero
                  
      .items_planes
        .portabilidad_plan
          .headerPLan
            span.title Ilimitados
            span.subtitle Datos Libres
            span.hiddenMobile Comparte 32GB
            img.hiddenMobile.imgArrow(src=url+"/documents/80379/8777288/arrow_plomo.png/", alt="", srcset="")
          .bodyPlan_container
            .bodyPlan
              .wrapper_apps
                span #[b 9 Apps] 
                span Ilimitadas
                .icons_apps
                  img(src=url+"/documents/80379/8777288/icons_1.png/", alt="Facebook")
                  img(src=url+"/documents/80379/8777288/icons_2.png/", alt="Whatsapp")
                  img(src=url+"/documents/80379/8777288/icons_3.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_4.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_5.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_6.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_7.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_8.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_9.png/", alt="")
              .wrapper_description
                span #[b Ilimitadas] #[br]
                span Llamadas y SMS
              .wrapper_description
                span #[b Megas internacionales] #[br]
                span 9 GB Libres + #[br] Whatsapp ilimitado internacional
              .wrapper_description
                span #[b Chip] #[br]
                span S/1
              .wrapper_price
                .box_price
                  span S/129.90
                  span #[b al mes]
                a.btn_tarifas(href="#")
                .btn_loquiero
                  a(href="#") Lo quiero

      .items_planes
        .portabilidad_plan
          .headerPLan
            span.title 25 GB
            span.subtitle Datos Libres
            span.hiddenMobile Comparte 32GB
            img.hiddenMobile.imgArrow(src=url+"/documents/80379/8777288/arrow_plomo.png/", alt="", srcset="")
          .bodyPlan_container
            .bodyPlan
              .wrapper_apps
                span #[b 9 Apps] 
                span Ilimitadas
                .icons_apps
                  img(src=url+"/documents/80379/8777288/icons_1.png/", alt="Facebook")
                  img(src=url+"/documents/80379/8777288/icons_2.png/", alt="Whatsapp")
                  img(src=url+"/documents/80379/8777288/icons_3.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_4.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_5.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_6.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_7.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_8.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_9.png/", alt="")
              .wrapper_description
                span #[b Ilimitadas] #[br]
                span Llamadas y SMS
              .wrapper_description
                span #[b Megas internacionales] #[br]
                span 6 GB Libres + #[br] Whatsapp ilimitado internacional
              .wrapper_description
                span #[b Chip] #[br]
                span S/1
              .wrapper_price
                .box_price
                  span S/105.90
                  span #[b al mes]
                a.btn_tarifas(href="#")
                .btn_loquiero
                  a(href="#") Lo quiero

      .items_planes
        .portabilidad_plan
          .headerPLan
            span.title 20 GB
            span.subtitle Datos Libres
            span.hiddenMobile Comparte 32GB
            img.hiddenMobile.imgArrow(src=url+"/documents/80379/8777288/arrow_plomo.png/", alt="", srcset="")
          .bodyPlan_container
            .bodyPlan
              .wrapper_apps
                span #[b 9 Apps] 
                span Ilimitadas
                .icons_apps
                  img(src=url+"/documents/80379/8777288/icons_1.png/", alt="Facebook")
                  img(src=url+"/documents/80379/8777288/icons_2.png/", alt="Whatsapp")
                  img(src=url+"/documents/80379/8777288/icons_3.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_4.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_5.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_6.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_7.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_8.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_9.png/", alt="")
              .wrapper_description
                span #[b Ilimitadas] #[br]
                span Llamadas y SMS
              .wrapper_description
                span #[b Megas internacionales] #[br]
                span 4 GB Libres + #[br] Whatsapp ilimitado internacional
              .wrapper_description
                span #[b Chip] #[br]
                span S/1
              .wrapper_price
                .box_price
                  span S/85.90
                  span #[b al mes]
                a.btn_tarifas(href="#") 
                .btn_loquiero
                  a(href="#") Lo quiero

      .items_planes
        .portabilidad_plan
          .headerPLan
            span.title 14 GB
            span.subtitle Datos Libres
            span.hiddenMobile Comparte 32GB
            img.hiddenMobile.imgArrow(src=url+"/documents/80379/8777288/arrow_plomo.png/", alt="", srcset="")
          .bodyPlan_container
            .bodyPlan
              .wrapper_apps
                span #[b 7 Apps] 
                span Ilimitadas
                .icons_apps
                  img(src=url+"/documents/80379/8777288/icons_1.png/", alt="Facebook")
                  img(src=url+"/documents/80379/8777288/icons_2.png/", alt="Whatsapp")
                  //- img(src=url+"/documents/80379/8777288/icons_3.png/", alt="")
                  //- img(src=url+"/documents/80379/8777288/icons_4.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_5.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_6.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_7.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_8.png/", alt="")
                  img(src=url+"/documents/80379/8777288/icons_9.png/", alt="")
              .wrapper_description
                span #[b Ilimitadas] #[br]
                span Llamadas y SMS
              .wrapper_description
                span #[b Megas internacionales] #[br]
                span 12 GB Libres + #[br] Whatsapp ilimitado internacional
              .wrapper_description
                span #[b Chip] #[br]
                span S/1
              .wrapper_price
                .box_price
                  span S/199.90
                  span #[b al mes]
                a.btn_tarifas(href="#") 
                .btn_loquiero
                  a(href="#") Lo quiero                                                                                        
          
                                                           