#requisitos_portabilidad
  h2 Requisitos
  .container
    .box-requirement
      .requirement
        .requirement_icon
          img(src=url+"/documents/80379/8777288/requisito_1.png/", alt="Requisito 1")
        .requirement_description
          p Ser titular de la línea #[br]a portar
      .requirement
        .requirement_icon
          img(src=url+"/documents/80379/8777288/requisito_2.png/", alt="Requisito 2")
        .requirement_description
          p No contar con otra solicitud #[br]de portabilidad en trámite
      .requirement
        .requirement_icon
          img(src=url+"/documents/80379/8777288/requisito_3.png/", alt="Requisito 3")
        .requirement_description
          p Tener más de 2 meses #[br]en tu operador actual 
      .requirement
        .requirement_icon
          img(src=url+"/documents/80379/8777288/requisito_4.png/", alt="Requisito 4")
        .requirement_description
          p No tener el servicio suspendido #[br]por deuda, mandato judicial, declaración #[br]de insolvencia o por uso indebido #[br]del servicio
      .requirement
        .requirement_icon
          img(src=url+"/documents/80379/8777288/requisito_5.png/", alt="Requisito 5")
        .requirement_description
          p No estar dado de baja #[br]más de 30 días
      .requirement
        .requirement_icon
          img(src=url+"/documents/80379/8777288/requisito_6.png/", alt="Requisito 6")
        .requirement_description
          p No tener deuda vencida #[br]con su operador actual
